@import '~mdb-ui-kit/css/mdb.min.css';
@import './dashboard.css';

* {
  font-family: Poppins, Bebas Neue, Inter;
}

.login_place,
.bantuan_place {
  background-color: #f5f9ff;
  padding: 40px;
  margin: 20px;
}

.login_place {
  height: 520px;
}

.bantuan_place {
  padding-bottom: 50px;
}

.idex_container_card {
  box-shadow: none;
  -webkit-box-shadow: none;
}
